<h2 class="ui center aligned icon header">

<i class="large green coffee icon"></i>
Let's chat
</h2>
<div class="ui two column grid">
    <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
        <div class="content">
                <div class="ui feed">
                <div class="event">
                    <div class="content">
                    <div class="summary">
                        <em>you</em>: Test message
                    </div>
                    </div>
                </div>
                </div>
            </div>
        <div class="extra content">
        <form class="ui reply form">
            <div class="field">
            <div class="ui fluid icon input focus">
            <input type="text" placeholder="Enter a message...">
            <i class="boarder inverted green edit icon"></i>
            </div>
            </div>
        </form>
        </div>
        </div>    
    </div>
    <div class="four wide column">
    <div class="ui fluid raised card chatbox">
        <div class="content">
                <div class="ui vertical text menu">
                <div class="header item">Logged in user</div>
                <a class="item">
                    Closest
                </a>
                <a class="item">
                    Most Comments
                </a>
                <a class="item">
                    Most Popular
                </a>
                </div>
            </div>
        </div>
    </div>
</div>